@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    min-height: 100%;
    color: #4c4948;
    line-height: 2; //background: #f2f2f2; //font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 1.1rem
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    color: $blue;
    cursor: pointer;
    text-decoration: none;
}

//Image Zoom In Zoom Out 
.post-content p > img, .post-content li > img{    
    
    transition: all .5s ease-in-out;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
// .zoomIn {
    
//     border-radius: 5px;
//     transition: all .5s ease-in-out;
//     width: 100% !important;
//     cursor:zoom-out;
// }
.image-caption{
    display: block;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 400;
    font-weight: 500;
}
.button.github{
    font-size: 1rem;
}
.content blockquote{
    background-color: #f5dada;
    border-left: 5px solid #3273dc;
    padding: 1.25em 1.5em;
}