.article-section .article-container .article-main {
    .article-content {
        padding: 1.5rem 1.5rem;    
        h1:before,h2:before,h3:before,h4:before,h5:before,h5:before,h6:before {
            margin-right: .3rem;
            color: #f47466;
            content: "\f02e";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: .8rem;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;            
        }
        h1:hover:before,h2:hover:before,h3:hover:before,h4:hover:before,h5:hover:before,h6:hover:before{
            margin-right: .4rem;
            //color: #49b1f5;
            color:$cyan;

        }
        .content{
            figure{
                img{
                    max-width: 50%;
                    
                }
            }
        }
    }
   
}