.navbar-brand {
    a.navbar-item {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        font-weight: 700;
        margin-top: 4px;

        &:before{
            font-family: FontAwesome;
            display: inline-block;
            padding-right: 6px;
            vertical-align: middle;
            color: #00d1b2;
            padding-bottom: 3px;
            font-size: 32px;        
           content: "\f121";
        }
    }
   
    
}