section.hero-root {
    background-image: url("/img/banner-pc.jpg");
    min-height: 178px; // background-size: contain;
    .hero-body .title,
    .subtitle {
        color: #fff;
    }
}

.main-seciton {
    .main-container {
        background: white;
        padding: 1.5rem;
    }
}

.home-section {
    .posts-list {
        max-width: 1150px;
        margin: 0 auto;
        .card {
            height: 500px;
            @include until ($tablet) {
                height: 100%
            }
        }
    }
    .pagination-container {
        padding: 2rem 0;
    }
}

.article-section {
    background: #f1f1f1;
    background-image: linear-gradient(to bottom, #f2f2f2,#c0c0c0);
    .article-content {
        background: $white;
        border-radius: 5px 0px 0px 5px;
    }
    .article-sidebar {
        background: $white;
        border-radius: 0px 5px 5px 0px;
    }
}