.post-card {
    .post-thumbnail {
        padding: 4px;
        max-width: 100%;
        border: 1px solid #eaeefb;       
        figure{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg); 
            -moz-transform: rotate(360deg);
        }

    }
    .post-title {
        display: block;
        margin-bottom: .3rem;
        border-bottom: 1px solid #eee;
        color: #2e2e2e;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        line-height: 1.3;
        word-wrap: break-word;
        padding: .2em .8em .2em 0em;
        .title.is-4 {
            font-size: 1.2rem;
        }
    }
    .post-meta__tag-list {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    .post-meta__tags {
        margin-right: .4rem;
        margin-bottom: .4rem;
        padding: .1rem .3rem;
        border: 1px solid #483d8b;
        border-radius: .7rem;
        background: #fff;
        color: #483d8b;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
    }
}