.card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    border-radius: 0 !important;
    margin: 8px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    transform: translateY(0) scale(1);
    opacity: 1;
}

.profile-card {
    background: #06a763;
    figure {
        margin: 0px auto;
    }
    .info-headings {
        text-align: center;
        h2 {
            display: block;
            width: 100%;
            font-weight: 900;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }
        h4 {
            display: block;
            width: 100%;
            font-weight: 300;
            margin-top: -30px;
            font-size: 1.2em;
            color: #fff;
            text-shadow: 2px
        }
    }
    .infos {
        max-width: 300px;
        text-align: center;
        ul.profile-list {
            li {
                margin-top: 2px;
                .title-icon {
                    color: #fff;
                    line-height: 26px;
                    .svg-inline--fa {
                        font-size: 23px;
                        padding-top: 6px;
                    }
                    a {
                        color: white;
                    }
                }
                .content {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #fff;
                    padding: 0px 10px 0px 10px
                }
            }
        }
    }
    .links {
        max-width: 300px;
        margin-top: 20px;
        height: 100%;    
        text-align: center;    
        .social {
            color: white;
        }
    }
}

