/* Using SCSS variables to store breakpoints */

$media-larg-desktop: "only screen and (min-width : 1472px)";
@media #{$media-larg-desktop} {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}

@media screen and (min-width: 1088px) {
    .navbar.is-spaced {
        padding: 0.5rem 2rem;
    }
}