@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "bulma/sass/utilities/_all.sass";


$modal-threshold: 680px;




body {
    min-height: 100%;
    color: #4c4948;
    line-height: 2; //background: #f2f2f2; //font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 1.1rem
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    color: $blue;
    cursor: pointer;
    text-decoration: none;
}

/******************************************************
Layout
******************************************************/

section.hero-root {
    background-image: url("/img/banner-pc.jpg");
    min-height: 178px; // background-size: contain;

    .hero-body .title,
    .subtitle {
        color: #fff;
    }
}

.main-seciton {
    .main-container {
        background: white;
        padding: 1.5rem;
    }
}

.home-section {
    .posts-list {
        max-width: 1150px;
        margin: 0 auto;

        .card {
            height: 500px;

            @include until ($tablet) {
                height: 100%
            }
        }
    }

    .pagination-container {
        padding: 2rem 0;
    }
}

.article-section {

    //background: #fff;
    //background-image: linear-gradient(to bottom, #f2f2f2,#c0c0c0);
    .article-content {
        background: $white;
        border-radius: 5px 0px 0px 5px;
    }

    .article-sidebar {
        background: $white;
        border-radius: 0px 5px 5px 0px;
    }
}











//Image Zoom In Zoom Out 
.post-content p>img,
.post-content li>img {

    transition: all .5s ease-in-out;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

// .zoomIn {

//     border-radius: 5px;
//     transition: all .5s ease-in-out;
//     width: 100% !important;
//     cursor:zoom-out;
// }
.image-caption {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 400;
    font-weight: 500;
}

.button.github {
    font-size: 1rem;
}

.content blockquote {
    background-color: #f5dada;
    border-left: 5px solid #3273dc;
    padding: 1.25em 1.5em;
}


/******************************************************
Header
******************************************************/

.navbar-brand {
    a.navbar-item {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        font-weight: 700;
        margin-top: 4px;

        &:before {
            font-family: FontAwesome;
            display: inline-block;
            padding-right: 6px;
            vertical-align: middle;
            color: #00d1b2;
            padding-bottom: 3px;
            font-size: 32px;
            content: "\f121";
        }
    }


}

/******************************************************
Pagination
******************************************************/
.pagination-container nav {
    justify-content: center;
}

/******************************************************
Article
******************************************************/
.article-section .article-container .article-main {
    .article-content {
        padding: 1.5rem 1.5rem;

        h1:before,
        h2:before,
        h3:before,
        h4:before,
        h5:before,
        h5:before,
        h6:before {
            margin-right: .3rem;
            color: #f47466;
            content: "\f02e";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: .8rem;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        h1:hover:before,
        h2:hover:before,
        h3:hover:before,
        h4:hover:before,
        h5:hover:before,
        h6:hover:before {
            margin-right: .4rem;
            //color: #49b1f5;
            color: $cyan;

        }

        .content {
            figure {
                img {
                    max-width: 50%;

                }
            }
        }

    }


}

/******************************************************
Footer
******************************************************/
.footer-section {
    background-color: $white;

    footer {
        background-color: $white;
        padding: 0px;
    }
}

/******************************************************
Mixin
******************************************************/
@mixin text-ellipsis() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    border-radius: 0 !important;
    margin: 8px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    transform: translateY(0) scale(1);
    opacity: 1;
}

/******************************************************
Profile card
******************************************************/
.profile-card {
    background: $link;
    max-width: 300px;

    @include until($desktop) {
        max-width: 100%;
    }

    figure {
        margin: 0px auto;
    }

    .info-headings {
        text-align: center;

        h2 {
            display: block;
            width: 100%;
            font-weight: 900;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }

        h4 {
            display: block;
            width: 100%;
            font-weight: 300;
            margin-top: -30px;
            font-size: 1.1em;
            color: #fff;
            text-shadow: 2px
        }
    }

    .infos {

        // max-width: 300px;
        @include until($desktop) {
            max-width: 100%;
        }

        text-align: center;

        ul.profile-list {
            li {
                margin-top: 2px;

                .title-icon {
                    color: #fff;
                    line-height: 26px;

                    .svg-inline--fa {
                        font-size: 23px;
                        padding-top: 6px;
                    }

                    a {
                        color: white;
                    }
                }

                .content {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #fff;
                    padding: 0px 10px 0px 10px
                }
            }
        }
    }

    .links {

        // max-width: 300px;
        @include until($desktop) {
            max-width: 100%;
        }

        margin-top: 20px;
        height: 100%;
        text-align: center;

        .social {
            color: white;
        }
    }
}

/******************************************************
Search
******************************************************/

#u-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    z-index: 999999;

    @include until ($modal-threshold) {
        padding: 0px;
    }   

    .modal {
        display: block;
        position: fixed;
        height: 80%;
        width: 100%;
        max-width: 640px;
        left: 50%;
        top: 0;
        margin: 64px 0px 0px -320px;
        background: #fff;
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
        z-index: 3;
        border-radius: 5px;

        @include until ($modal-threshold) {
            box-shadow: none;
            max-width: none;
            top: 0;
            left: 0;
            margin: 0;
            height: 100%;
        }

        .modal-ajax-content {
            opacity: 0;
            visibility: hidden;
            transition: all 0.36s;

            &.loaded {
                opacity: 1;
                visibility: visible;
            }
        }

        .modal-header {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: transparent;
            z-index: 3;

            .btn-close {
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                top: 0;
                right: 0;
                color: $primary;
                cursor: pointer;
                text-align: center;
                line-height: 50px;
                vertical-align: middle;
                font-size: 18px;
                transition: all 0.24s;
                z-index: 2;

                &:hover {
                    transform: rotate(90deg);
                }
            }

            .modal-loading {
                position: absolute;
                bottom: -2px;
                left: 0px;
                width: 100%;
                height: 2px;
                background: transparent;
                z-index: 1;

                .modal-loading-bar {
                    display: block;
                    position: relative;
                    width: 0%;
                    height: 100%;
                    background: lighten($link-active, 15%);
                    transition: width 0.24s;
                }
            }

            #u-search-modal-form {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 2;

                #u-search-modal-input {
                    width: 100%;
                    padding: 0px 50px 0px 40px;
                    font-size: 18px;
                    line-height: 50px;
                    vertical-align: middle;
                    color: $text;
                    border: none;
                    background: lighten($grey-lighter, 10%);
                    transition: background-color 0.24s;
                    font-weight: thin;
                    appearance: none;
                    box-shadow: none;

                    &:focus {
                        //background-color: darke($grey-lighter, 3%);
                    }
                }
            }

            #u-search-modal-btn-submit {
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 5px;
                padding-top: 5px;
                background: transparent;
                border: none;
                width: 40px;
                height: 50px;
                vertical-align: middle;
                font-size: 17px;
                color: lighten($grey-dark, 10%);
                z-index: 2;
            }
        }

        .modal-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            padding: 0px 15px;
            background: #fff;
            border-top: 1px solid lighten($black, 60%);

            .logo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                z-index: 0;

                a {
                    display: inline-block;
                }

                &.google img {
                    height: 24px;
                    margin-top: 13px;
                }

                &.baidu img {
                    height: 22px;
                    margin-top: 14px;
                }

                img {
                    position: relative;
                    display: inline-block;
                    width: auto;
                    height: 18px;
                    margin-top: 16px;
                }
            }

            .modal-error {
                position: relative;
                float: left;
                vertical-align: middle;
                line-height: 50px;
                font-size: 13px;
                z-index: 1;
            }

            .modal-metadata {
                position: relative;
                float: left;
                vertical-align: middle;
                line-height: 50px;
                font-size: 13px;
                z-index: 1;
            }

            .nav {
                position: relative;
                display: block;
                float: right;
                vertical-align: middle;
                font-size: 13px;
                font-weight: 500;
                line-height: 50px;
                color: $grey;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: $black;
                }

                &.btn-next {
                    margin-left: 10px;
                }

                .icon {
                    font-size: 12px;
                }
            }
        }

        .modal-body {
            position: absolute;
            padding: 64px 40px 80px 40px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            @include until ($modal-threshold) {
                padding: 60px 20px 80px 20px;
            }

            .modal-results {
                list-style: none;

                li {
                    border-bottom: 1px solid #e6e8ea;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                .result {
                    position: relative;
                    display: block;
                    padding: 15px 30px 15px 0px;
                    text-decoration: none;

                    &:hover {

                        span,
                        .digest,
                        .icon {
                            color: $black;
                        }
                    }

                    .title {
                        display: block;
                        max-width: 100%; //color: #717171;
                        color: $text-light;
                        font-size: 1.1rem;
                        padding: 1px;
                        margin-bottom: 2px;
                        line-height: 110%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .digest {
                        display: block;
                        font-size: 13px;
                        line-height: 140%;
                        color: lighten($black, 30%);
                        transition: color 0.24s;

                        em {
                            font-weight: bold;
                        }
                    }

                    .icon {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -4px;
                        font-size: 11px;
                        color: $grey;
                    }
                }

                #no-result {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    color: #ccc;
                }
            }
        }
    }

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
}
.u-search-input {
    border: 1px solid #ddd;
}



/******************************************************
Post
******************************************************/
.post-card {
    .post-thumbnail {
        padding: 4px;
        max-width: 100%;
        border: 1px solid #eaeefb;

        figure {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
        }

    }

    .post-title {
        display: block;
        margin-bottom: .3rem;
        border-bottom: 1px solid #eee;
        color: #2e2e2e;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        line-height: 1.3;
        word-wrap: break-word;
        padding: .2em .8em .2em 0em;

        .title.is-4 {
            font-size: 1.2rem;
        }
    }

    .post-meta__tag-list {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .post-meta__tags {
        margin-right: .4rem;
        margin-bottom: .4rem;
        padding: .1rem .3rem;
        border: 1px solid #483d8b;
        border-radius: .7rem;
        background: #fff;
        color: #483d8b;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
    }
}

/******************************************************
Tags
******************************************************/

#category,
#tag,
#archive {
    padding: 3rem 0rem;
    display: block;

    @include until($desktop) {
        padding: 3rem 1.5rem;
    }

    .article-sort-title {
        position: relative;
        padding-bottom: 1.2rem;
        padding-left: 1.2rem;
        font-size: 1.7rem;
        line-height: 1;

        &:before {
            position: absolute;
            top: .25rem;
            left: calc(-0.5rem + 1px);
            z-index: 1;
            width: 1.0rem;
            height: 1.0rem;
            border: .25rem solid #49b1f5;
            border-radius: .5rem;
            background: #fff;
            content: "";
            line-height: .5rem;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 2px;
            height: 1.8rem;
            background: #a4d8fa;
            content: "";
        }
    }

    .article-sort {
        padding-left: 1.2rem;
        border-left: 2px solid #a4d8fa;

        .article-sort-item {
            position: relative;
            margin-bottom: 1rem;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:before {
                border-color: #ddd;
                position: absolute;
                position: absolute;
                top: .48rem;
                left: calc(-1.2rem - 7px);
                width: 0.7rem;
                height: 0.7rem;
                border: .15rem solid #49b1f5;
                border-radius: .3rem;
                background: #fff;
                content: "";
                line-height: .3rem;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
        }

        .article-sort-item.year {
            font-size: 1.3rem;

            &:before {
                top: 0.5rem;
                border-color: #ff7242;
            }
        }
    }
}

.tags-container {
    padding: 0.5rem 0rem;

    .post-tag {
        :hover {
            background-color: $grey-lighter;
        }
    }
}

@media screen and (max-width: 600px) {
    #tag {
        .article-sort-title {
            padding-left: 1.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        .article-sort-title::before {
            left: 1px;
        }

        .article-sort-title::after {
            left: 7px;
        }

        .article-sort {
            padding-left: 1.2rem;
            border-left: 2px solid #a4d8fa;
            margin-left: 7px;
        }
    }
}

/******************************************************
Sidebar
******************************************************/

.article-aside {
    // padding: 1.5rem 1.5rem;
    background-color: #f5f5f5; // height: 100%;

    // .aside-anchors{
    //     max-width: 10.5rem;
    //     padding-top: calc(1.5rem - 1px);    
    // }
    .aside-anchors.is-pinned {
        position: fixed;
        top: 0;
        max-width: 300px;

        @include from ($desktop and $tablet) {
            max-width: 16%
        }

    }

    .aside-anchors {
        .bd-anchors-title {
            font-weight: 600;
        }
    }
}

.article-container .post-toc li.post-toc-item a.post-toc-link {
    display: block;
    padding-left: .2rem;
    border-right: 3px solid transparent;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.article-aside .post-toc li.post-toc-item a.post-toc-link.active {
    border-right-color: $link;
    background: $link;
    color: #fff;
}


.article-aside .post-toc li {
    list-style-type: none;
}

// .aside-anchors {
//     @include until ($desktop) {
//         display: none;
//     }
// }


/******************************************************
Timeline
******************************************************/


.timebox {
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 20px auto;
    background: url(../img/timeline.gif) repeat-y 207px 0;
    overflow: hidden;
}

.timeline {
    h2 {
        height: 60px;
        line-height: 60px;
        font-size: 30px;
        color: #666;
        font-weight: bold;
        padding-left: 65px;
        margin-bottom: 30px;
        background: url(../img/timeline-clock.gif) #fff no-repeat 158px 0;

        img {
            vertical-align: -5px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: url(../img/timeline-dot.gif) no-repeat 180px 10px;
            padding-bottom: 20px;
            zoom: 1;
            @include text-ellipsis();

            &:after {
                content: " ";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            h3 {
                float: left;
                width: 168px;
                font-size: 20px;
                color: #666;
                text-align: right;
                padding-right: 15px;
                margin: 0;

                span {
                    color: #666;
                    font-size: 12px;
                    margin-left: 2px;
                }
            }

            a {
                padding-left: 41px;
                margin-top: -5px;
                font-weight: normal;
                font-size: 16px;

                //color: #00d1b2;
                &:hover {
                    text-decoration: none;
                    color: #505050;
                }
            }

        }
    }
}

@media screen and (max-width: 400px) {
    .timebox {
        background-position: 77px 0;
        padding: 0 0px;
        margin: 0px auto;
    }

    .timeline {
        h2 {
            padding-left: 53%;
            background-position: 48px 0;
        }

        ul {
            li {
                background-position: 70px 5px;

                h3 {
                    width: 68px
                }
            }
        }
    }
}

// .container-archive .timebox {
//     position: relative;
//     width: 100%;
//     padding: 0 20px;
//     margin: 20px auto;
//     background: url("/img/timeline.gif") 207px 0 repeat-y;
//     overflow: hidden;
//     .timeline {
//         h2 {
//             height: 60px;
//             line-height: 60px;
//             font-size: 30px;
//             color: #666;
//             font-weight: 700;
//             padding-left: 65px;
//             margin-bottom: 30px;
//             background: url("/img/timeline-clock.gif") 158px 0 no-repeat #fff;
//         }
//         ul {
//             margin: 0;
//             padding: 0;
//             li {
//                 background: url("/img/timeline-dot.gif") 180px 5px no-repeat;
//                 padding-bottom: 20px;
//                 zoom: 1;
//                 overflow: hidden;
//                 h3 {
//                     float: left;
//                     width: 168px;
//                     font-size: 20px;
//                     color: #333;
//                     text-align: right;
//                     padding-right: 15px;
//                     margin: 0;
//                 }
//                 a {
//                     padding-left: 41px;
//                     margin-top: -5px;
//                     font-weight: 400;
//                     font-size: 16px;
//                     color: #505050;
//                 }
//                 ::after {
//                     content: " ";
//                     display: block;
//                     height: 0;
//                     clear: both;
//                     visibility: hidden;
//                 }
//             }
//         }
//     }
// }