<% if (theme.search.enable === true) { %>
    <div class="m_search">
        <form name="searchform" class="form u-search-form">
            <input type="text" class="input nav-search u-search-input" placeholder="Search..." />
            <!-- <span class="icon icon-search"></span> -->
            <span class="icon is-left">
                    <i class="fas fa-search"></i>
                    
            </span>
        </form>
    </div>
<% } %>
