<%- partial('_partial/hero',{post:page}) %>
    <section class="section page-section">
        <div class="container main-container">

            <div class="page-main columns">

                <div class="page-content column is-12">                     
                            <div class="page-body">
                                <%- page.content %>
                            </div>

                </div>

            </div>
            
        </div>
    </section>