---
title: About me
date: 2015-11-29 21:00:03
---

<div class="columns is-desktop">
    <div class="column is-narrow">
        <div class="box profile-card" style="max-width:300px">
            <figure class="image is-128x128">
                <img class="is-rounded" src="/images/profile.png">
            </figure>
            <div class="card-content">
                <div class="info-headings">
                    <h2 class="text-uppercase left">Ejaz Hussain</h2>
                    <h4 class="text-capitalize left">Lead SharePoint Developer</h4>
                </div>

                <div class="links">
                    <!--Email-->
                    <span class="
                            icon is-medium">
                        <a href="mailto:ejazzhussain@outlook.com" class="social"><i class="fas fa-2x fa-envelope-square"></i></a>
                    </span>
                    <!-- TWITTER-->
                    <span class="
                            icon is-medium">
                        <a href="https://twitter.com/EjazHussain_" class="social"><i class="fab fa-2x fa-twitter-square"></i></a>
                    </span>
                    <!-- LINKEDIN-->
                    <span class="icon is-medium">
                        <a href="https://www.linkedin.com/in/ejaz-hussain-1a14ab37/" class="social"><i class="fab fa-2x fa-linkedin"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="card-content">

                <p class="subtitle">
                    Hello! I’m Ejaz Hussain.
                </p>
                <p>
                    Senior SharePoint Developer with over 8 years of experience specializing
                    in
                    SharePoint, Office 365 and Azure platforms. Experienced with all stages of the development cycle
                    for
                    dynamic web projects.
                </p>
                <p>
                    Currently I am working for <a href="https://www.contentandcode.com/">Content and Code</a> (UK based
                    Microsoft Partner).
                </p>
                <p>My aim is to share my knowledge and experiences around SharePoint, Office
                    365,
                    Azure and other Microsoft base technologies.</p>
                <p>
                    My life is not all about the SharePoint, I love playing cricket whenever i get chance but now a
                    days i am into running.
                </p>
                <br />

                <p>
                    If you have suggestions to this blog then feel free to email me directly.
                    You can also reach me through my personal twitter or the linkedin account.


                </p>

            </div>
        </div>
    </div>
</div>